/* Importation des polices */
@font-face {
    font-family: 'mortal_waveregular';
    src: url('1/mortal_wave-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'Sunflare';
    src: url('2/Sunflare.woff') format('woff');
    text-transform: lowercase;
}


/* Style général */
body {
    margin: 0;
    font-family: 'Sunflare', sans-serif;
    color: white;
    background: linear-gradient(45deg, #1a1a2e, #16213e, #0f3460);
    background-size: 400% 400%;
    font-size: 18px;
}

body::-webkit-scrollbar {
    display: none; /* Pour Chrome, Safari et Edge */
}

/* En-tête */
header {
    display: absolute;
    text-align: center;
    padding: 20px;
    height: 20vh;
}

main {
    margin-top: 20vh;
}

h1 {
    font-family: 'mortal_waveregular';
    font-size: 100px;
    color: #ff00ff;  /* Garder la couleur rose pour le texte */
    text-shadow: 0 0 10px #de13db, 0 0 20px #fc02ef; /* Effet néon en #0f3460 */
}


/* Menu de navigation */
/* Style de base pour la navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
    position: fixed; /* Permet de mieux gérer le positionnement du menu */
    top: 0;  /* Reste en haut */
    left: 0; /* Reste à gauche */
    right: 0; /* Reste à droite */
    z-index: 50; /* S'assure que c'est au-dessus de tout le contenu */
}


/* Style des liens */
a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    white-space: nowrap; /* Empêche le passage à la ligne */
}

a:hover {
    background-color: #ff00ff;
    border-radius: 5px;
}

/* Boutons interactifs contact*/
.close-btn {
    background: none;
    border: 2px solid #ff00ff;
    color: white;
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
    box-shadow: 0 0 5px transparent;
}
.close-btn:hover {
    background: #ff00ff;
    color: black;
    box-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff;
}

main {
    margin-top: 400px;
}
/* Sections */
main div {
    padding: 50px;
    text-align: center;
}

h2 {
    font-size: 80px;
    text-transform: uppercase;
    color: #ff00ff;
    text-shadow: 0 0 5px #ff00ff;
    font-family: 'mortal_waveregular';
}
#div1,#div3{
    height: 100vh;
} 
#div2{
    height: 150vh;
}

.btn-hover {
    background: none;
    border: 2px solid #ff00ff;
    color: white;
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
    box-shadow: 0 0 5px transparent;
}
.btn-hover:hover {
    background: #ff00ff;
    color: black;
    box-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff;
}

/* Pied de page */
footer {
    text-align: center;
    padding: 10px;
    font-size: 14px;
    background: rgba(0, 0, 0, 0.8);
    margin-top: 70vh;
}

.small-text {
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
}
.small-text a {
    color: #ff00ff;
    text-decoration: none;
}
.small-text a:hover {
    text-decoration: underline;
}

h3 {
    margin: 0px;
    font-family: 'mortal_waveregular';
    font-size: 40px;
    color: #ff00ff;  /* Garder la couleur rose pour le texte */
    text-shadow: 0 0 10px #de13db, 0 0 20px #fc02ef; /* Effet néon en #0f3460 */
}




